<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}
    
        {% endblock title %}</title>
    {% load static %}  {% comment %} they help you load static files  {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
     <div>
        
     </div>       
    </header>
    {% block content %}
    
    {% endblock content %}
    <footer>
 
    </footer>
</body>
</html>